IO_LOC "CLCK"                   39
IO_LOC "Vref_DRV"               55
IO_LOC "Vcap_O2_SENS"           7
IO_LOC "DRV_O2_SENS"            48
IO_LOC "Vcap_PRES_SENS_VENT"    18
IO_LOC "DRV_PRES_SENS_VENT"     53
IO_LOC "Vcap_PRES_SENS_PAT"     20
IO_LOC "DRV_PRES_SENS_PAT"      49
IO_LOC "Vcap_FLOW_SENS_DRCT"    98
IO_LOC "DRV_FLOW_SENS"          50
IO_LOC "Vcap_FLOW_SENS_GAIN"    96
IO_LOC "DRV_FLOW_SENS_GAIN"     48
IO_LOC "SPK1_SENS"              95
IO_LOC "SPK2_SENS"              86
IO_LOC "SPK_HIGH_REF"           94
IO_LOC "SPK_LOW_REF"            85
IO_LOC "PB_MINUS"               91
IO_LOC "PB_MUTE"                5
IO_LOC "PB_PLUS"                10
IO_LOC "PB_SEL"                 84
IO_LOC "SPI2_MISO"              22
IO_LOC "SPI2_MOSI"              23
IO_LOC "SPI_SCLK"               27
IO_LOC "SPI2_PRES_CS"           28
IO_LOC "SPI1_MISO"              29
IO_LOC "SPI1_MOSI"              30
IO_LOC "SPI1_SCLK"              31
IO_LOC "SPI1_FPGA_CS"           32
IO_LOC "VIN_FAIL_F"             33
IO_LOC "I2C_SCL"                43
IO_LOC "I2C_SDA"                44
IO_LOC "F_DRV"                  45
IO_LOC "G_DRV"                  46
IO_LOC "LED_SERIAL_DRV"         40
IO_LOC "MOTOR_OFF"              41
IO_LOC "FPGA_READY"             42
IO_LOC "SPK1_FLT_N"             68
IO_LOC "SPK2_FLT_N"             67
IO_LOC "SPK1_EN"                66
IO_LOC "SPK2_EN"                65
IO_LOC "SPK1_IN1"               64
IO_LOC "SPK1_IN2"               62
IO_LOC "SPK2_IN1"               61
IO_LOC "SPK2_IN2"               60
IO_LOC "RESET_I2C"              83
IO_LOC "UART_RX"                82
IO_LOC "UART_TX"                81
IO_LOC "LCD_A_ENABLE"           59
IO_LOC "LCD_B_ENABLE"           58
IO_LOC "LCD_RW"                 73
IO_LOC "LCD_RS"                 72
IO_LOC "LCD_DB[0]"              70
IO_LOC "LCD_DB[1]"              69
IO_LOC "LCD_DB[2]"              57
IO_LOC "LCD_DB[3]"              56
IO_LOC "LCD_DB[4]"              80
IO_LOC "LCD_DB[5]"              79
IO_LOC "LCD_DB[6]"              78
IO_LOC "LCD_DB[7]"              77